@import "colors.css";

/* ===== Base Bar ===== */
* {
    border: none;
    border-radius: 0;
    font-family: '0xProtoNerdFont';
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: transparent; 
    color: @text_dark;
}

/* ===== Module Groups ----===== */
.modules-right {
	background-color: @miku_grey_deep;
	color: @text_dark;
    border: 2px solid @miku_magic_mint;
	border-radius: 20px;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

.modules-center {
	background-color: @miku_grey_deep;
	color: @text_dark;
    border: 2px solid @miku_magic_mint;
	border-radius: 20px;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

.modules-left {
	background-color: @miku_grey_deep;
	color: @text_dark;
    border: 2px solid @miku_magic_mint;
	border-radius: 20px;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

/* ===== Module Defaults ===== */
#backlight,
#battery,
#pulseaudio,
#clock,
#tray,
#custom-power,
#custom-media {
	padding-right: 12px;
	padding-left: 6px;
    margin: 2px 4px;
    border-radius: 20px;
    background: transparent; 
    color: @miku_blue_romance;
}

/* Hover effect */
#backlight:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#clock:hover,
#tray:hover,
#custom-power:hover,
#custom-media:hover {
    background: @miku_spray;
    color: @miku_grey_deep;
    transition: background 0.2s;
}

/* ===== Battery States ===== */
#battery.warning {
    background: @warning;
    color: @text_dark;
}

#battery.critical {
    background: @warning;
    color: @text_dark;
}

/* ===== Audio ===== */
#pulseaudio.muted {
    background: @miku_grey_med;
    color: @miku_grey_light;
}

/* ===== Workspaces ===== */
#workspaces button {
	padding-right: 12px;
	padding-left: 6px;
    color: @miku_cerulean;
	border-radius: 20px;
    background: transparent; 
    transition: background 0.2s;
}

#workspaces button:hover {
    background: @miku_spray;
    color: @text_dark;
}

#workspaces button.active {
    background: @miku_turquoise;
    color: @text_dark;
    font-weight: bold;
}

#workspaces button.urgent {
    background: @warning;
    color: @text_white;
}

/* ===== Tooltip styling ===== */
tooltip {
    background-color: transparent;
    border: none;
}

tooltip label {
    background: @miku_grey_med;
    color: @miku_grey_deep;
    border-radius: 6px;
    border: 3px solid @miku_turquoise;
    margin: 8px;
}

